In [1]:
import os
import sys
import glob
import numpy as np
import pandas as pd

import os
# PACKAGE_FOLDER =  os.environ.get('PACKAGE_FOLDER')
PACKAGE_FOLDER = '/Users/amash/Insync/GDrive/Projects/Raptor/raptor_functions'
sys.path.insert(0, PACKAGE_FOLDER)

# Libraries to install

In [2]:
# !pip install mlflow boto3 awscli tsfresh raptor_functions

# Retrieve Model URI from mlflow

In [3]:
# !aws configure

This is the only thing we add in the code to make a prediction + new data

In [4]:
# INPUT - URI to the MLFlow experiment
# ************************************
# ************************************
model_uri = 's3://raptor-mlflow-data/mlartifacts/3/24ed79470750408cb81dde2c7a1845b4/artifacts/ssc'
# ************************************
# ************************************

## Get new data

In [5]:
# model_uri1 = 's3://raptor-mlflow-data/mlartifacts/1/5c313b84ccfa4c39a538a1d3241cafab/artifacts/Extreme Gradient Boosting'

In [4]:
model_uri1 = "s3://raptor-mlflow-data/mlartifacts/1/db53e8baeb3f4ecb9116f13b033ec75e/artifacts/Extreme Gradient Boosting"
model_uri2 = 's3://raptor-mlflow-data/mlartifacts/3/e0ae99ed8de249feab80393307c9be22/artifacts/ssc'
# model_uri2 = 's3://raptor-mlflow-data/mlartifacts/3/3032491ee7e44b59a99c3209716af01a/artifacts/ssc'

In [5]:
from raptor_functions.supervised.datasets import get_data
df = get_data('handheld_data')

# select one single experiment
df_exp = df.groupby('exp_unique_id').get_group(0)

# Predict on new data

### Method 1
- get prediction data
- load model
- make prediction

In [6]:
# from raptor_functions.supervised.prediction import get_prediction_features

from raptor_functions.semi_supervised.prediction import get_prediction_features

prediction_data1 = get_prediction_features(df_exp, model_uri1)
prediction_data2 = get_prediction_features(df_exp, model_uri2)

Feature Extraction: 100%|██████████| 18/18 [00:00<00:00, 3628.99it/s]
/Users/amash/Insync/GDrive/Projects/Raptor/raptor_functions/raptor_functions/semi_supervised/prediction.py:60: FutureWarning: The default value of regex will change from True to False in a future version.
  prediction_data.columns = prediction_data.columns.str.replace('["]', "")
Feature Extraction: 100%|██████████| 18/18 [00:00<00:00, 8538.51it/s]
/Users/amash/Insync/GDrive/Projects/Raptor/raptor_functions/raptor_functions/semi_supervised/prediction.py:60: FutureWarning: The default value of regex will change from True to False in a future version.
  prediction_data.columns = prediction_data.columns.str.replace('["]', "")

In [7]:
prediction_data1

   sensor_5__fft_coefficient__attr_angle__coeff_34
0                                        27.346596

In [8]:
prediction_data2

   sensor_1__autocorrelation__lag_9
0                          0.679405

In [9]:
import mlflow
# Load model as a PyFuncModel.
loaded_model1 = mlflow.pyfunc.load_model(model_uri1)
pred1 = loaded_model1.predict(prediction_data1)

loaded_model2 = mlflow.pyfunc.load_model(model_uri2)
pred2 = loaded_model2.predict(prediction_data2)

In [10]:
pred1

array([0])

In [11]:
pred2

0

### Method 2
- make prediction

In [12]:
from raptor_functions.supervised.prediction import make_prediction, make_ensemble_prediction

In [13]:
df_exp

,exp_unique_id,exp_name,timesteps,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,...,sensor_23,sensor_24,Humidity (r.h.),measurement_stage,date_exp,time_elapsed,datetime_exp_start,datetime_exp,filename,result
0,0,Test 24,1,131.938,132.443,177.444,178.157,44.974,44.508,219.374,...,143.288,142.050,46.07,baseline,21/3/2022,0.00,14:12:54,2022-03-21 14:12:54.000,5 NegTest_3_20220321_14_12.txt,Control
1,0,Test 24,2,133.078,133.972,177.444,178.694,45.131,44.611,219.607,...,142.874,141.914,46.07,baseline,21/3/2022,0.25,14:12:54,2022-03-21 14:12:54.250,5 NegTest_3_20220321_14_12.txt,Control
2,0,Test 24,3,131.812,132.064,177.622,178.694,45.183,44.663,219.841,...,143.288,141.914,46.07,baseline,21/3/2022,0.50,14:12:54,2022-03-21 14:12:54.500,5 NegTest_3_20220321_14_12.txt,Control
3,0,Test 24,4,131.059,132.064,177.444,178.694,45.183,44.663,219.607,...,142.599,141.368,46.07,baseline,21/3/2022,0.75,14:12:54,2022-03-21 14:12:54.750,5 NegTest_3_20220321_14_12.txt,Control
4,0,Test 24,5,131.435,131.938,177.622,178.694,45.131,44.663,219.607,...,142.187,140.825,46.07,baseline,21/3/2022,1.00,14:12:54,2022-03-21 14:12:55.000,5 NegTest_3_20220321_14_12.txt,Control
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,0,Test 24,124,132.064,132.824,177.444,178.514,45.026,44.508,219.841,...,142.462,141.368,46.00,flush,21/3/2022,30.75,14:12:54,2022-03-21 14:13:24.750,5 NegTest_3_20220321_14_12.txt,Control
124,0,Test 24,125,131.812,132.697,177.444,178.514,45.131,44.611,219.607,...,140.690,139.478,46.07,flush,21/3/2022,31.00,14:12:54,2022-03-21 14:13:25.000,5 NegTest_3_20220321_14_12.txt,Control
125,0,Test 24,126,132.570,133.078,177.444,178.336,45.131,44.560,219.841,...,141.504,140.150,46.07,flush,21/3/2022,31.25,14:12:54,2022-03-21 14:13:25.250,5 NegTest_3_20220321_14_12.txt,Control
126,0,Test 24,127,132.443,132.824,177.267,178.336,45.079,44.508,219.607,...,140.961,139.881,46.07,flush,21/3/2022,31.50,14:12:54,2022-03-21 14:13:25.500,5 NegTest_3_20220321_14_12.txt,Control
127,0,Test 24,128,132.317,133.205,177.444,178.514,45.026,44.560,219.607,...,140.961,139.881,46.07,flush,21/3/2022,31.75,14:12:54,2022-03-21 14:13:25.750,5 NegTest_3_20220321_14_12.txt,Control

In [14]:
df_exp.ndim

2

In [15]:

pred1 = make_prediction(df_exp, model_uri1)

Feature Extraction: 100%|██████████| 18/18 [00:00<00:00, 4809.06it/s]
/Users/amash/Insync/GDrive/Projects/Raptor/raptor_functions/raptor_functions/supervised/prediction.py:72: FutureWarning: The default value of regex will change from True to False in a future version.
  prediction_data.columns = prediction_data.columns.str.replace('["]', "")

In [16]:
pred1

array([0])

In [17]:
pred2 = make_prediction(df_exp, model_uri2)

Feature Extraction: 100%|██████████| 18/18 [00:00<00:00, 3666.53it/s]
/Users/amash/Insync/GDrive/Projects/Raptor/raptor_functions/raptor_functions/supervised/prediction.py:72: FutureWarning: The default value of regex will change from True to False in a future version.
  prediction_data.columns = prediction_data.columns.str.replace('["]', "")

In [18]:
pred2

0

In [19]:
d = make_ensemble_prediction(df_exp)

Feature Extraction: 100%|██████████| 18/18 [00:00<00:00, 998.10it/s]
/Users/amash/Insync/GDrive/Projects/Raptor/raptor_functions/raptor_functions/supervised/prediction.py:72: FutureWarning: The default value of regex will change from True to False in a future version.
  prediction_data.columns = prediction_data.columns.str.replace('["]', "")
Feature Extraction: 100%|██████████| 18/18 [00:00<00:00, 975.97it/s]
/Users/amash/Insync/GDrive/Projects/Raptor/raptor_functions/raptor_functions/supervised/prediction.py:72: FutureWarning: The default value of regex will change from True to False in a future version.
  prediction_data.columns = prediction_data.columns.str.replace('["]', "")
Feature Extraction: 100%|██████████| 18/18 [00:00<00:00, 2233.32it/s]

type preds:  <class 'dict'>
preds:  {'Extra Trees Classifier': array([0]), 'Logistic Regression': array([1]), 'ssc': 0}

/Users/amash/Insync/GDrive/Projects/Raptor/raptor_functions/raptor_functions/supervised/prediction.py:72: FutureWarning: The default value of regex will change from True to False in a future version.
  prediction_data.columns = prediction_data.columns.str.replace('["]', "")

In [20]:
d

(0,
 {'Extra Trees Classifier': array([0]),
  'Logistic Regression': array([1]),
  'ssc': 0})

In [22]:
from raptor_functions.supervised.preprocess import preprocess_single_file

In [26]:
filepath = '/content/drive/MyDrive/Projects/Raptor/data/Raw_Data/24H 1 Control_14_15_26.28.txt'

In [28]:
preprocess_single_file(filepath)

     exp_unique_id  timesteps  sensor_1  ...       exp_name  repeat_no   result
0                0        0.0   314.851  ...  24H 1 Control          2  Control
1                0        1.0   314.899  ...  24H 1 Control          2  Control
2                0        2.0   314.493  ...  24H 1 Control          2  Control
3                0        3.0   314.708  ...  24H 1 Control          2  Control
4                0        4.0   314.708  ...  24H 1 Control          2  Control
..             ...        ...       ...  ...            ...        ...      ...
116              0      116.0   314.302  ...  24H 1 Control          2  Control
117              0      117.0   314.565  ...  24H 1 Control          2  Control
118              0      118.0   314.947  ...  24H 1 Control          2  Control
119              0      119.0   314.016  ...  24H 1 Control          2  Control
120              0      120.0   314.469  ...  24H 1 Control          2  Control

[121 rows x 36 columns]